#customers{
    background-image: url('../img/component2.png');
    height: 1127px;
    .customers__box{
        padding-left: 15px;
        margin-top: 7%;
        width: 533px;
        color: $white;
    }
}