#customers{
    background-image: url('../img/componente2.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 1100px;
    .customers__box{
        padding-left: 15px;
        margin-top: 7%;
        width: 533px;
        color: $white;
    }
}