.section#backoffice
    .container-fluid
        .row
            .col-12
                .backoffice__text.text-center.mb-5.mb-md-4
                    p.pink Blog
                    h2 Cxup, te soluciona tu backoffice
                    p.desc.mx-auto.py-3 Nulla tristique id urna vitae luctus. Etiam neque dui, ullamcorper id velit id, viverra aliquet ligula. Interdum et malesuada fames ac ante ipsum
            .col-12.col-md-6.py-4.py-md-0
                .backoffice__img.card
                    img.card-img-top(src='img/rectangle1.png' alt='')
                    .card-body
                        .card-text.px-0.py-4.px-md-4.py-md-2
                            .date 
                                i.far.fa-clock
                                span Noviembre 14, 2020
                            h5.card-title.py-2 Gestión de tipificación de casos para asignación de tiempos.
                            .backoffice__buttons.d-flex.justify-content-between.pt-3
                                a(href="") LEER MÁS
                                    i.fas.fa-arrow-right
                                a(href="")
                                    i.far.fa-comment
            .col-12.col-md-6
                .backoffice__img.card
                    img.card-img-top(src='img/rectangle2.png' alt='')
                    .card-body
                        .card-text.px-0.py-4.px-md-4.py-md-2
                            .date 
                                i.far.fa-clock
                                span Noviembre 14, 2020
                            h5.card-title.py-2 Gestión de tipificación de casos para asignación de tiempos.
                            .backoffice__buttons.d-flex.justify-content-between.pt-3
                                a(href="") LEER MÁS
                                    i.fas.fa-arrow-right
                                a(href="")
                                    i.far.fa-comment