.section#banner
    .container-fluid.mr-md-0.p-md-0
        .banner__box.d-md-flex.justify-content-between
            .banner__text.w-100
                    h2.text-center.text-md-left El sistema de soporte y gestión de clientes que te ayudará a marcar la diferencia
                    p.pt-3.d-none.d-lg-block ¿Sabes que de nada sirve haber invertido en una página web o en #[br]un e-commerce si no eres capaz de responder las solicitudes de #[br]tus clientes? CXUP soluciona tu backoffice y ordena tu servicio #[br]para que puedas sacarle el máximo provecho a tu vitrina digital.
                    .d-md-flex.mt-5.cotizar.justify-content-between
                        .buttons.my-3.my-md-0
                            a(href="") Cotizar
                        .ver.buttons.buttons-reverse.my-3.my-md-0
                            a(href="") Ver más
            .banner__img.d-none.d-md-block
                img(src='img/laptop.png' alt='')