.section#control
    .container-fluid.ml-0.px-0
        .control__box
            .control__resp.d-block.d-md-none
                img(src='img/pantallaResp.png' alt='')
            .control__img.d-none.d-md-block
            .control__text.pt-3.pt-md-0
                p.pink Gestión de usuarios
                h3 Toma el control #[br]de tu empresa
                p.pt-4 Cxup te permite optimizar tu servicio de atención al cliente mejorando la eficacia de tus colaboradores, pudiendo revisar el trabajo de cada uno.
                //- .decoration
                //-     img(src='img/componente.png' alt='')