.section#customers.mt-5.mt-md-0
    .container-fluid
        .customers__box
            .customers__text.text-center.text-md-left
                h2 Quieres que tus clientes se queden contigo?
                p.pb-2.pt-4 Para eso debes responderle bien y a tiempo, si no te ordenas en sus solicitudes se irán a la competencia. CXUP te ayuda a ordenar y gestionar tus medios digitales para cumplir con tus clientes y que estos vuelvan a ti #[br.d-block.d-md-none]¡COTIZA CON NOSOTROS!
                .cotizar.pt-4
                    .buttons
                        a(href="") Cotizar