.section#footer.py-5.mt-5
    .container-fluid
        .row.footer__box.px-5.px-md-3
            .col-12.col-md-3
                .footer__logo.pt-5.pb-4.pb-md-0.pt-md-0
                    a(href="")
                        img(src="img/logo.png", alt="logo")#logoImg
            .col-12.col-md-6.d-flex.align-items-center
                .footer__items
                    ul.d-md-flex.m-0
                        li.text-center.my-4.my-md-0
                            a.mx-3.mx-xl-5(href="") ¿Por qué CXup?
                        li.text-center.my-4.my-md-0
                            a.mx-3.mx-xl-5(href="") Funcionalidades
                        li.text-center.my-4.my-md-0
                            a.mx-3.mx-xl-5(href="") Blog
            .col-12.col-md-3
                .footer__rrss.d-flex.justify-content-between.mr-md-2.ml-md-5.pb-5.pt-4.pb-md-0.pt-md-0
                    a(href="")
                        i.fab.fa-github
                    a(href="")
                        i.fab.fa-facebook-square
                    a(href="")
                        i.fab.fa-linkedin
                    a(href="")
                        i.fab.fa-instagram