header.sticky-top
	#header
		.container-fluid
			nav.d-flex.justify-content-between.align-items-center.py-4
				.logo
					img(src="img/logo.png", alt="logo")#logoImg
				.d-none.d-md-flex.justify-content-end.align-items-center.pl-3.pl-xl-5.w-100#navbar
					ul.m-0.d-flex.menu
						li.nav-item
							a(href='').px-3.px-xl-5 ¿Por qué CXUP?
						li.nav-item
							a(href='').px-3.px-xl-5 Funcionalidades
						li.nav-item
							a(href='').px-3.px-xl-5 Blog
					ul.m-0.d-flex.justify-content-between.align-items-center.cotizacion
						li.nav-item.mx-3.buttons
							a(href='') Cotizar
						li.nav-item.mx-2
							a(href='').spain
								img(src="img/spain.png", alt="logo")
						li.nav-item.mx-2
							a(href='').eeuu
								img(src="img/united-states.png", alt="logo")
				.burguer.d-block.d-md-none
					span
					span
					span
					span
				.veladura.flex-column
					.veladura__menu.p-4
						ul.m-0.pb-5.d-flex.flex-column.align-items-start.justify-content-between
							li
								a(href='').px-3.px-xl-5 ¿Por qué CXUP?
							li
								a(href='').px-3.px-xl-5 Funcionalidades
							li
								a(href='').px-3.px-xl-5 Blog
						//- ul.m-0
							li.mx-2
								a(href='').spain
									img(src="img/spain.png", alt="logo")
							li.mx-2
								a(href='').eeuu
									img(src="img/united-states.png", alt="logo")

				
