.section#satisfaccion.pt-0.pb-4.pb-md-0
    .container-fluid.mr-0.px-0
        .satisfaccion__box.d-md-flex.justify-content-between
            .satisfaccion__text
                p.pink Tipificación de casos
                h3 Aumenta la satisfacción de tus clientes
                p ¿Debes responder solicitudes a tus clientes todos los días? ¿Agobiado? Sabemos lo importantes que es cumplir con las expectativas de tus clientes, por eso te permitimos tipificar los casos, asignando tiempos y tipos de resoluciones a casos recurrentes.
            .satisfaccion__img
                img(src='img/pantalla4.png' alt='')
        .satisfaccion__decoration.d-none.d-md-block
            img(src='img/grupo2.png' alt='')