.section#servicio
    .container-fluid.mr-0.px-0
        .servicio__box.d-md-flex.justify-content-between
            .servicio__text
                p.pink Integraciones Fluidas
                h3 Mejora tu servicio de asistencia
                p.pt-4 Contamos con una API de integración de correos Gmail para vincularlos a tu ERP y así digitalizar la comunicación. Gracias a esto, podrás mantener conversaciones fluidas con tus clientes.
            .servicio__img
                img(src='img/pantalla3.png' alt='')