.section#visualizacion
    .container-fluid.ml-0.px-0
        .visualizacion__box.d-md-flex.justify-content-between
            .visualizacion__img
                img(src='img/pantalla2.png' alt='')
            .visualizacion__text
                p.pink Obten visualizaci칩n integral
                h3 Mantente al #[br]tanto de todo
                p.pt-4 Cuando tu cliente crea una solicitud, reclamo o hito, con CxUP tendr치s el listado de esos casos detallado, dandole un estado y prioridad a cada uno, permitiendo agilizar las solicitudes pendientes. Adem치s, podr치s medir la eficacia de tu empresa y sus colaboradores, reflejado en los principales KPIs de experiencia de servicio al cliente.
                .decoration.d-none.d-md-block
                    img(src='img/_Layer_.png' alt='')